<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forumlär</title>
    <style>
        label {
            display: block;
        }
        textarea {
            display: block;
        }
        form {
            width: 400px;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <form method="post" action="http://localhost:5000/postjson/" >
            <fieldset>
                <legend>Registrera medlemsuppgifter</legend>
                <label>Betalsätt: 
                    <select name="Betalningsmetod: ">
                        <option seclected disable hidden value="none">Välj betalsätt</option>
                        <option> Kreditkort</option>
                        <option> Swish</option>
                        <option> Cash mannen</option>
                        <option> Bitcoin</option>
                    </select>
                </label>
                <label>
                    Förnamn:
                    <input type="text" name="Förnamn:" required/>
                </label>
                <label>
                    Efternamn:
                    <input type="text" name="Efternamn:" required/>
                </label>
                <label>
                    Adress:
                    <input type="text" name="Address:" required/>
                </label>
                <label>
                    Postnummer:
                    <input type="number" name="Postnummer:" required/>
                </label>
                <label>
                    Ort:
                    <input type="text" name="Stad:" required/>
                </label>
                <label>
                    Mobilnummer:
                    <input type="number" name="Mobilnummer:" required/>
                </label>
                <label>
                    E-mail:
                    <input type="email" name="E-mail:" required/>
                </label>
                <label>
                    Erbjudanden via e-post: <input type="checkbox" name="offers" value="offers" />
                </label>
                <p>Epost-format:
                    <label>Html: <input type="radio" name="format" value="html" /></label>
                    <label>Text: <input type="radio" name="format" value="text" /></label>
                </p>
                <label>
                    Dina kommentarer:
                    <textarea cols="20" rows="3" name="Kommentar:"></textarea>
                </label>
                <input type="submit" value="Skicka" />
                <input type="reset" value="Rensa" />
            </fieldset>
        </form>
    </div>
</body>
</html>