<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Väderdata</title>
    <style>
        label {
            display: block;
        }

        textarea {
            display: block;
        }

        form {
            width: 400px;
        }
    </style>
</head>
<body>
    <h1>Väderdata</h1>
        <p>
            <table>
                <tr>
                <th>Id</th>
                <th>Plats</th>
                <th>Moist</th>
                <th>Temp</th>
                <th>Pressure</th>
                <th>Tid</th>
                </tr>
                {% for row in data %}
                <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
                </tr>
                {% endfor %}
            </table>
        </p>
</body>
</html>

        